/* color palette:
 http://www.colourlovers.com/palette/1/metro
 #515151 (background)

 #FFFFFF
 #00B4FF
 #EEEEEE

*/
body {
    background-color: #515151;
    font-family: Roboto;
}

.welcome-title {
    font-size: 1.25em;
    font-weight: 300;
    padding-bottom: 1em;
    color: #EEEEEE;
}

.welcome-text {
    color: #EEEEEE;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-weight: 200;
}

.welcome-lets-start {
    color: #00B4FF;
    font-size: 1.25em;
    font-weight: 300;
    padding-top: 1em;
}

.app {
    padding-top: 1.5em;
}

.breadcrumbs {
    font-size: 1.25em;
    font-weight: 200;
    padding-bottom: 1em;
}

.breadcrumbs .parent {
    color: #00B4FF;
}

.breadcrumbs .slash {
    color: #BBBBBB;
}

.breadcrumbs .current {
    color: #BBBBBB;
}

.story-button {
    display: grid;
    font-size: 1.35em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0.7em;
    margin-right: 0.5em;
    background-color: #494949;
}

.solved-line {
    display: grid;
}

.title {
    font-size: 1.35em;
    padding-bottom: 1em;
}

.normal {
    font-size: 1em;
    padding-bottom: 1em;
}

.japanese {
    color: #00B4FF;
    font-size: 1.1em;
    font-weight: 100;
}

.romaji {
    color: #EEEEEE;
    font-weight: 200;
    font-size: 0.85em;
}

.english {
    color: #EEEEEE;
    font-weight: 300;
    font-size: 0.9em;
}

.solved-prefix {
    color: #00B4FF;
    font-size: 1.1em;
    font-weight: 100;
}

.unsolved-suffix {
    color: #FFFFFF;
    font-size: 1.1em;
    font-weight: 100;
}

.input {
    margin-bottom: 1.5em;
}

.error-input {
    background-color: #FFDDDD;
}

.the-end {
    font-size: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.75em;
}

.copyright {
    color: #888888;
    font-size: 0.7em;
    padding-bottom: 0.7em;
}